@mixin parents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 100%;
}
.outer{
  @include parents;
}
.login-outer-inner{
  @include parents;
}
.login-outer-inner>p:nth-child(1){
  font-size: 2rem;
  padding: 5px;
}
.login-outer-inner>form{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    padding: 10px;
    text-align: center;
  }
  .social-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.login-outer-inner>:last-child> *{
  width: 80%;
}
